.container {
    padding: 20px;
    margin-top: 30px;
}

.buttonWrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.buttonGroup {
    display: flex;
    gap: 10px;
}

.buttonGroupLeft {
    display: flex;
    gap: 10px;
}

.backLink {
    text-decoration: none;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.graphWrapper {
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.resetButton {
    margin: 0 auto;
    display: block;
}