.myModal {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.myModalContent {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    min-width: 200px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}