* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.App {
    width: 800px;
}

.header {
    height: 85px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color:coral;
}

.link {
    float: right;
}