.task {
    font-size: 18px;
    display: flex;
    padding: 15px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.priorityTask {
    background-color: coral;
}

.close {
    color: gray;
    text-decoration: line-through;
}
