.myBtn {
    font-size: 18;
    background: transparent;
    background-color: khaki;
    border: none;
    cursor: pointer;
    color:black;
    padding: 5px 15px;
    margin: 3px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }