* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #F5F7FA;
}

.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainContent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.contentWrapper {
    display: flex;
    flex: 1;
    margin-top: 55px;
}

main {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
    background-color: #F5F7FA;
}

main.sidebar-open {
    margin-left: 25%;
}

.pageContent {
    flex: 1 0 auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #F5F7FA;
}