.root {
    margin: 0 auto;
    padding: 30px;
    max-width: 600px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.profileContent {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.avatarSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.avatarPlaceholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 14px;
}

.infoSection {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infoItem {
    margin-bottom: 10px;
}

.bio {
    word-break: break-word; /* Переносить слова на новий рядок */
    white-space: pre-wrap; /* Зберігає перенесення рядків */
    max-height: 150px; /* Обмежуємо максимальну висоту */
    overflow-y: auto; /* Додаємо скрол, якщо текст довший */
    display: block; /* Забезпечує коректне відображення блоку */
    line-height: 1.5; /* Збільшуємо висоту рядка для кращої читаності */
}